.container {
    background-color: #E5e5e5;
    min-width: 1400px;
    align-items: center;
    justify-content: center;
    flex-direction: 'column';
    margin: 50px;
    padding: 50px;
    border-radius: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}